

.header
{
    background: #820000;
    color: wheat;
    height:50px;
}


.timer
{

 justify-content: flex-end;
 /* height: 30px;
 width: 100px; */
 /* background-color: #820000; */
 align-items: center;
 /* position: fixed; */
 margin-top: 30px;
 text-size-adjust: 20px;
 
}
.timer
{
    position: relative;
    justify-content: end;
}
